.profile__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__content > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__content > p {
  font-size: 20px;
  margin-top: 1rem;
}

.follow_stats {
  margin-top: 2rem;
  display: flex;
}

.follow_stats > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.discover__top {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 100px;
  margin-top: 100px;
}

.discover__top ul {
  margin-top: 40px;
}

.discover__top li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
}

.artists__top li img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.artists__top li {
  cursor: pointer;
}

.artists__top li:hover .artist_name {
  text-decoration: underline;
}

.discover__top li p {
  margin-left: 20px;
}

.playlists__top img {
  width: 60px;
}

.artists__top nav , .playlists__top nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.see_more {
  color: #ffff;
  text-decoration: none;
  padding: 11px 24px;
  min-width: fit-content;
  max-height: 37px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ffff;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

.see_more:hover {
  background: #ffff;
  color: #000;
}