.profile {
  display: flex;
}

.profile > div:first-child {
  flex: 0.15;
  background: #121212;
  height: 100vh;
}

.profile > div:nth-child(2) {
  flex: 0.85;
  height: 100vh;
  background: #181818;
}
