.sidebar {
  min-width: 300px;
}

.sidebar__test {
  position: fixed;
  min-width: 300px;
  height: 100%;
  background: #121212;
  padding: 1rem 0 0 1rem;
}

.sidebar img {
  max-width: 150px;
}

.links {
  margin-top: 4rem;
}

.link {
  display: flex;
  align-items: center;
  color: #9d9d9d;
  text-decoration: none;
  margin: 0.2rem;
  padding: 0.5rem;
  transition: color 0.1s ease-in;
}

.link:hover {
  color: #ffff;
}

.active {
    color: #ffff;
}

.route_name {
  margin-left: .5rem;
}