.recents {
  padding: 20px;
}
.recents h2 {
  margin-bottom: 30px;
}

.recents li {
  list-style: none;
}

.recents li img {
  width: 50px;
}

.link_recent {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  color: #ffff;
}

.recent__info {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent__artrists {
  display: flex;
  color: #9d9d9d;
  font-size: 13px;
}

.recent__duration {
  min-width: fit-content;
  color: #9d9d9d;
  font-size: 12px;
  margin-left: 10px;
}

.recents ul > li:hover .recent_name p {
  text-decoration: underline;
}

.recent__about {
  padding: 20px;
}

.recent__about nav {
  display: flex;
}

.recent__about img {
  width: 200px;
}

.recent_info {
  margin-left: 10px;
}

.recent_info p {
  font-size: 25px;
}

.recent_info ul {
  margin: 10px 0;
}

.recent_info ul,
.recent_info > span {
  display: flex;
  color: #9d9d9d;
  font-size: 17px;
}

.recent_info > span {
  font-size: 13px !important;
}

.recent_info button {
  background-color: #1db954;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 11px 24px;
  margin: 20px 0px;
  border: none;
  cursor: pointer;
  color: #ffff;
  border: 1px solid #1db954;
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

.recent_info a {
  text-decoration: none;
}

.recent_info a button:hover {
  background: #000;
}
